@use "/src/scss/base/variable" as var;

// ___________________________page de contact ___________________________
.contactsPage {
    background-color: var.$background-lightGrey;
    border-radius: 13px;
    margin: 1rem 0.5rem;
    padding: 0 1rem;

    &-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #af4657;
        text-align: center;
        padding: 0.5rem 0;
    }

    &-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

//------------------ Passage format Tablette  ------------------------
@media (min-width: 700px) {
    .contactsPage {
        &-card {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 15px;
        }
    }
}

@media (min-width: 1024px) {
    .contactsPage {
        margin: 1rem auto;

        &-card {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 15px;
        }
    }
}

// ___________________ My message Card _____________________
.messageCard {
    background-color: #F09B7F;
    border-radius: 10px;
    max-height: 3rem;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    cursor: pointer;

    &-img {
        border-radius: 10px;
        aspect-ratio: 1 / 1;
        width: 10%;
        height: 10%;
    }

    &-pseudo {
        font-size: medium;
        font-weight: bold;
    }

    &-content {
        display: none;
    }
}