.profile {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .profile_essentials {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;

    

      img {
        width: 9.375rem;
        height: 9.375rem;
        object-fit: cover;
        border-radius: 50%;
        border: 0.125rem solid #ccc;
      }

    .profile_form {
      flex: 1;


      label {
        display: flex;
        flex-direction: column;
        font-weight: bold;

        input,
        select {
          margin-top: 0.3125rem;
          padding: 0.625rem;
          border: 0.0625rem solid #ccc;
          border-radius: 0.625rem;
        }
      }
    }

  }
  .profile_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
.profile-buttons{
  width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.hidden{
  display: none;
}
.btn-submit-img{
  margin:1rem auto ;
  width: 80%;
  justify-content: center;
  background-color: #af4657;
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.8125rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-validate{
  margin: 2.9em 0 1rem;
  width: 100%;
  background-color: #af4657;
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.8125rem;
  font-weight: bold;
  cursor: pointer;
}
.modif-btn{
  margin:1rem auto ;
  background-color: #af4657;
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.8125rem;
  font-weight: bold;
  cursor: pointer;
}

  .profile_details {
    width: 90%;
    margin: auto;
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1.25rem;
      color: #af4657;
    }

    .textarea_label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.25rem;
      position: relative;
      font-weight: bold;
      background-color: #0d2230;
      color: white;
      padding: 0.25rem 0.625rem;
      border-top-left-radius: 0.625rem;
      border-top-right-radius: 0.625rem;
      width: 95%;
    }

    .textarea_description {
      position: absolute;
      top: 2rem;
      left: 0;
      font-family: inherit;
      width: 100%;
      height: 6.25rem;
      padding: 0.625rem;
      border: 0.1875rem solid #0d2230;
      border-top-left-radius: 0;
      border-top-right-radius: 0.625rem;
      border-bottom-left-radius: 0.625rem;
      border-bottom-right-radius: 0.625rem;
      font-size: 1rem;
      resize: none;
    }
    .profile-decription{
      height: 10rem;
    }
    .profile_interests {
      margin-top: 1.25rem;
    }
    .interest_group {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
      gap: 1.25rem;

        div {
          background-color: #f8f8f8;
          padding: 0.9375rem;
          border-radius: 0.625rem;

          strong {
            display: block;
            margin-bottom: 0.625rem;
            color: #af4657;
          }

          label {
            display: block;
            margin-bottom: 0.3125rem;
            font-weight: normal;
            cursor: pointer;
          }
        }
      }
    

  }
}
@media (min-width:700px) {
.profile{
  .profile_photo{
    width: 40%;
  }
  .btn-validate{
    width: 50%;
  }
}

}