@use "/src/scss/base/variable.scss" as var;

//style fait en mobile first 
//header HomePage 
.content{
  max-width: 1200px;
  margin: 0 auto;
}

.header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 1.25rem;
  margin: 0.3125rem auto;
  position: relative;

  //image du header
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: left;
    border-top-left-radius:  0 ;
  }

  //text du header
  &-text {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin-top: 10rem;
    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(3px);
    width: 80%;
    border-radius: 1rem;
    flex-direction: column;

    &-title {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      font-weight: bolder;
      //text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5137254902);
      color: var.$text-color;
    }
    &-intro{
      text-align: center;
      width: 80%;
      margin: auto;
    }
  }
}

//Partie de présentation/d'accroche de l'accueil du site 
.teaser {
  background-color: white;
  margin: 0.3rem auto;
  border-radius: 0.625rem;

  &-main {   
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: white;

    &-text {  
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
    }
    &-p{
      text-align: center;
      margin-bottom: 0.625rem ;
    }
    &-title {
      font-size: 1.5rem;
      margin-bottom: 1.25rem;
      color: var.$text-color;
      font-weight: 700;
    }

    &-img {
    position: relative;
    width: 100%;
    border-radius: 0.9375rem;
    object-fit: cover;
    margin-top:1rem;
    transform: scaleX(-1);
    }

    &-btn {
    padding: 0.625rem 1.25rem;
    background-color: var.$primary-button-color;
    color: white;
    border: none;
    border-radius: 0.8125rem;
    cursor: pointer;
    font-weight: bold;
    }
  }
  
}

//Partie d'explication du site 
.presentation{
  padding-bottom: 0.5rem;

  &-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 1.25rem;
  }

  &-title {
    margin: 0;
    padding-bottom: 1.5rem;
    text-align: center;
    color: var.$text-color;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &-division{
    color: var.$primary-button-color;
    list-style-type: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &-text{
    text-align: center;
    padding: 0.5rem 0;
  }
  &-img{
    display: none;
  }
  
}

//Partie evenements de la homePage

.events-section{
  padding: 2.5rem 1.25rem;
  background-color: white;
  margin: 0.3125rem auto;
  border-radius: 0.625rem;

  &-title {
    font-size: 1.5rem;
    color: #2e2e2e;
    font-weight: 700;
    text-align: center;
  }
  &-p{
        margin:  0.625rem;
  }
}


.events-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem;
}

.event-card {
  background-color: #f1f1f1;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  margin-bottom: 0.7rem;

  &-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.625rem;
  }
  &-p{
    text-align: center;
  } 

}

//media queries : tablette
@media screen and (min-width: 700px) {
.teaser-main{
  display: flex;
  flex-direction: column;

  &-title{
    margin: auto;
  }

  &-text{
    width: 91%;
    margin: auto;
    padding: 0;
  }
  &-p{
    margin-top: 0.5rem;
  }

  &-btn{
    width: 8rem;
    margin: auto;  //bouton plus large pour les tablettes
  }
  &-img{ //modifie la taille de l'image et la centre 
    margin: 2rem auto 1rem;
    width: 80%;
    aspect-ratio: 2.5;
    object-fit: cover;
    object-position: center 13%;
  }
}

.presentation{
  &-list{
    margin: auto;
    width: 80%;
  }
}

}

//media queries : tablette / mode paysage ipad
@media screen and (min-width: 960px) {

  .teaser{
  margin: 1rem auto;

  &-main{
    flex-direction: row-reverse;
    gap: 3rem;
    margin: 2rem auto;

    &-img{
      margin: 0;
      aspect-ratio: 2.5;
      object-fit: cover;
      object-position: center 13%;
    }

    &-p{
    text-align: left;
    }
  }
    
}

.presentation{
  display: flex;
  margin: auto;
  gap: 2.5rem;
  margin-bottom: 1rem;
  padding: 1.25rem;

  &-title{
    text-align: left;
    padding: 0 0 0 1.25rem;
  }
  &-left{
    width: 50%;
  }
  &-img{
    display: flex;
    width: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.625rem;
  }
  &-list{
    width: 100%;
  }
  &-section{
    padding-top: 2rem;
  }
  &-division{
    text-align: start;
  }
  &-text{
    text-align: left;
  }
}
.events-section{
  margin-top: 1rem;
  &-section-title{
    margin-bottom: 1.2rem;
  }
  &-cards{
    width: 85%;
    margin: auto;
    gap: 0;
  }
}

}
@media screen and (min-width: 1200px) {
  .presentation-img{
    height: 31rem;
  }
}

@media screen and (min-width: 1400px) {
.header-image{
  object-position: center 30%;
}
.presentation{
  align-items: center;

  &-img{
    flex: 1 1 0;
  }
 }
}
@media screen and (min-width: 2400px) {
.header-text{
  width: 50%;
}
}