//___________Cartes des profils utilisateur (page rencontre)____________________________

.meetCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border-radius: 13px;
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;

  &-avatar {
    width: 100%;
    height: 10rem;
    border-radius: 13px;
    object-fit: cover;
    object-position: center 40%;
    margin-bottom: 1rem;
    &-color {
      color: gray;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    
    }
  }
  
.particle {
  color: rgb(150, 147, 147);
}

.btnArticleMeet{ //<-- bouton 'voir plus'
  background-color: #AF4657;
  border-radius: 5px;
  border: #ffffff;
  color: #fff;
  padding-inline: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

//----        Debut media queries (page rencontres)     ----//

@media (min-width : 600px){
  .meetCard{
    width: 40%;
  }
}

@media (min-width : 940px){
  .meetCard{
    width: 28%;
  }
}

@media (min-width: 1024px) {
  .meetCard {
    overflow: hidden;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
  }  
}
@media (min-width : 1280px){
  .meetCard{
    width: 20%;
  }
}

// ------------------------------------ Fin Media Queries -------------------------------//