.allMeet {
  background-color: #E8EBED;
  border-radius: 13px;
  margin-bottom: 1em;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-inline: 1rem;
  margin-top: 1rem;
}

.meets {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}



@media (min-width: 1024px) {
  .allMeet{
    margin-inline: 10rem ;
    margin-top: 3rem;
  }

  .meets{
    gap: 1.8rem;
  } 
  
}
