//couleur générique du site
$background-color: #fff;
$primary-button-color: #af4657;
$hoover-button-color: #F09B7F;
$text-button-color: #fff;
$border: #ddd;

$text-color : #2e2e2e
//variable de padding pour tous le site 

// font
//$global-font: 
//$global-font-weight:

// Title font
//$title-font

