header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 40px;
}

.Navbar {
  background-color: #fff;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Navbar-logo--desktop {
  display: block;
  height: 45px;
}
.Navbar-burger {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}
.Navbar-burger:hover {
  opacity: 0.3;
}

nav {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 30%;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #fff;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
nav.menu-open {
  display: flex;
}
nav .Nav-menu {
  color: #AF4657;
  font-weight: 600;
}
nav .Nav-menu:hover {
  border-left: 5px solid #F09B7F;
}

@media (min-width: 700px) {
  .Navbar {
    flex-wrap: nowrap;
  }
  .Navbar-burger {
    display: none;
  }
  nav {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: auto;
    width: auto;
    background: none;
    padding: 0;
    box-shadow: none;
  }
  nav .Nav-menu:hover {
    border-left: none;
    color: #F09B7F;
  }
}
@media (min-width: 950px) {
  nav {
    gap: 4.5rem;
  }
}
.searchEvent {
  background-color: #E8EBED;
  border-radius: 13px;
  padding: 1em;
  margin-top: 0.3em;
}
@media (min-width: 1024px) {
  .searchEvent {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.search {
  border-radius: 25px;
  padding: 0.7em;
  border: none;
}
@media (min-width: 1024px) {
  .search {
    width: 40%;
  }
}

.category, .localisation {
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  background-color: white;
  color: rgb(153, 151, 151);
}
@media (min-width: 1024px) {
  .category, .localisation {
    width: 15%;
  }
}

.messageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
}
.messageBtn-icone {
  color: #AF4657;
}

.meets {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.meetCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;
  border-radius: 13px;
  background-color: white;
  margin-bottom: 1rem;
  position: relative;
}

.particle {
  color: rgb(150, 147, 147);
}

.btnArticleMeet {
  background-color: #AF4657;
  border-radius: 5px;
  border: #ffffff;
  color: #fff;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  margin-top: 3em;
}

.articlePictMeet {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 10rem;
  object-fit: cover;
  object-position: center 40%;
}

.avatar {
  color: gray;
}

@media (min-width: 600px) {
  .meetCard {
    width: 40%;
  }
}
@media (min-width: 940px) {
  .meetCard {
    width: 28%;
  }
}
@media (min-width: 1024px) {
  .meets {
    gap: 1.8rem;
  }
  .meetCard {
    overflow: hidden;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
  }
  .btnArticleMeet {
    margin-top: 3.5em;
  }
}
@media (min-width: 1280px) {
  .meetCard {
    width: 20%;
  }
}
.particle-event {
  color: rgb(150, 147, 147);
  padding-bottom: 1rem;
}

.event {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.articlepict {
  width: 100%;
  object-fit: cover;
  height: 16rem;
  object-position: center 15%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.btnarticle {
  font-size: 1rem;
  font-weight: 700;
  background-color: #AF4657;
  border-radius: 5px;
  border: #ffffff;
  color: #fff;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .event {
    height: 30rem;
    margin: 0;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
  }
  .articlepict {
    height: 10rem;
  }
  .btnarticle {
    margin-top: 2em;
    height: 2rem;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}/*# sourceMappingURL=index.css.map */